<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Przepisy z Thermomixa, Airfryera i TikToka – testowane krok po kroku. Szczere recenzje, porady i pomysły na szybkie, smaczne posiłki.">
    <meta name="keywords" content="gotowanie, przepisy, thermomix, szybko, łatwo">
    <title>Gotowanie🍳</title>
</head>
<body>
<nav>

</nav>

<main>
    <section>
        <h1>Moja strona internetowa - gotowanie</h1>
    </section>
    <section>
        <p>
            Dzisiaj będziemy przyrządzać spaghetti🍝
            <br> <strong>To jest włoskie danie.</strong> Jest to jedno z lepszych dań.
            <br> Moje składniki:
            <ol>
                Makaron
                Sos
                500g wołowiny
                ser
            </ol>
        </p>
    </section>
    <section>
        Moje danie:
        <img src="jula/pobrane/obrazek.jpg">
        <br>Najlepsze przepisy znajdziesz <a href="https://aniagotuje.pl/"></a>
    </section>

</main>

<footer>
<br> Copyright 2026 Julia
</footer>

</body>
</html>