<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% if editing %}
        <button type="submit">Zaktualizuj task</button>
    {% else %}
        <button type="submit">Zapisz task</button>
    {% endif %}
</form>

<form method="post" action="{% url 'add_category' %}">
    {% csrf_token %}

    <input type="text" name="name">
    <br>

    <button type="submit">
        Dodaj kategorię
    </button>
</form>

<a href="{% url 'home' %}">
    <br>
    <button type="button">Wróć do menu</button>
</a>