{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task List</title>
    <link href="{% static 'css/axis.css' %}" rel="stylesheet">
</head>
<body>
<h1>Taski na dziś</h1>
<p class="axis-warning"></p>
<h2>Wykonanie dnia: </h2> {{ percentage }}

{% if tasks %}
<div class="day-axis">
    <div class="current-time-line"></div>
    <ol>
        {% for task in tasks %}
            <li data-task-id="{{ task.id }}">
                {% if task.status == "done" %}
                   <s>{{ task.name }}</s>
                {% else %}
                    {{ task.name }}
                    <a href="{% url 'status_done' task.id %}">
                    <button type="button">Zrobione</button>
                    </a>
                {% endif %}

                <a href="{% url 'delete_task' task.id %}">
                    <button type="button">Usuń task</button>
                </a>
                <a href="{% url 'edit_task' task.id %}">
                    <button type="button">Edytuj</button>
                </a>
            </li>
        {% endfor %}
    </ol>
</div>
<a href="{% url 'add_task' %}">
    <button type="button">Dodaj task</button>
</a>
{% else %}
    <p>Nie masz zaplanowanych tasków na dziś.</p>
    <a href="{% url 'add_task' %}">
        <button type="button">Dodaj task</button>
    </a>
{% endif %}
<a href="{% url 'home' %}">
    <br><button type="button">Wróć do menu</button>
</a>
<script src="{% static 'js/change_order.js' %}"></script>
<script src="{% static 'js/axis.js' %}"></script>
</body>
</html>